[Unit]
Description=Kubectl Port Forward 9200
Wants=network-online.target
After=network-online.target

[Service]
User=vagrant
Group=vagrant
Type=simple
ExecStart=/bin/bash -c "kubectl port-forward service/elasticsearch -n elasticsearch --address 192.168.200.201 9200:9200"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
